
.schedule table {
  th:first-of-type {
    width: 5%;
  }
  th:nth-of-type(2) {
    width: 10%;
  }
  th:nth-of-type(3) {
    width: 30%;
  }
  th:nth-of-type(4) {
    width: 30%;
  }
  th:nth-of-type(5) {
    width: 25%;
  }
}

.other_courses table {
  th:first-of-type {
    width: 20%;
  }
  th:nth-of-type(2) {
    width: 55%;
  }
  th:nth-of-type(3) {
    width: 10%;
  }
  th:nth-of-type(4) {
    width: 15%;
  }
}

.pub-list-item p {
  margin-bottom:0;
}
